*{
    margin: 0;
    padding: 0;
}
body{
    background : -webkit-linear-gradient(#dbdbdb 0%,#ebe8e8 50%,#888686 90%);
    height: 100vh;
    font-family: Blippo , fantasy;
}
a{
    text-decoration: none;
    color: #ffffff;
    margin: 35px;
}
header{
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #850909;
}
header .logo{
    font-size: 30px;
    text-transform: uppercase;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 70vh;
}
header ul li{
    margin-right: 10px;
}
header ul li a{
    padding: 6px 5px;
    border-radius: 20px;
}
header ul li a :hover{
    background: #ffffff;
    color: rgb(179, 10, 10) ;
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
}
.main::after{
    content: '';
    position: absolute;
    bottom: -100vh;
    height: 100vh;
    width: 100%;
    background-color: #850909;
}
.main img{
    position : absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#l12{
    object-position: 50% 0%;
    transform : rotate(-20deg);
    margin-top: 765px;
    margin-left : 250px
}
#l11{
    object-position: 50% 0%;
    transform : rotate(-17deg);
    margin-top: 685px;
    margin-left : 250px
}
#l10{
    object-position: 50% 0%;
    transform : rotate(-19deg);
    margin-top: 655px;
    margin-left : 250px
}
#l9{
    object-position: 50% 0%;
    transform : rotate(-16deg);
    margin-top: 635px;
    margin-left : 250px
}
#l7{
    mix-blend-mode: soft-light;
}
.content p{  
    display: flex;
    align-items: center;
    font-size: 50px;
    color: #ffffff;
    margin: 30px;
    z-index: 1;
    position: relative;
    
}
.content h2{
    color: #ffffff;
    font-size: 250px;
    margin: 30px;
    z-index: 1;
    position: relative;
}
